{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="container projects-container">
    {{ range .Pages }}
    <a href="{{ .RelPermalink }}" class="box">
      <!-- Title -->
      <h2>{{ .LinkTitle }}</h2>

      <!-- Summary -->
      <p>{{ .Summary }}</p>

      <!-- Date and Read Time -->
      <div class="box-footer">
        <span class="preview-date">{{ .Date.Format "January 2, 2006" }}</span>
        <span class="preview-read-time"> • {{ .ReadingTime }} min</span>
        <!-- Tags -->
        {{ with .Params.tags }}
        <ul class="preview-tags">
          {{ range . }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </a>
    {{ end }}
  </div>
{{ end }}
