{{ define "main" }}
<div class="content">

  <!-- Title -->
  <h1>{{ .Title }}</h1>
  <!-- Date -->
  {{ with .Date }}
  <div style="text-align: center; margin: 10px;">
    {{ $dateMachine := .Format "2006-01-02" }} <!-- ISO 8601 without time -->
    {{ $dateHuman := .Format "January 2, 2006" }} <!-- Human-readable format -->
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  </div>
{{ end }}
  <hr>
  <!-- Content -->
  {{ .Content }}

  <!-- Tags -->
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

</div>
{{ end }}
